.icon-48-projects {
      background-image: url(../images/l_projects.png);
      padding-left:60px!important;
}

.icon-48-project {
      background-image: url(../images/l_projects.png);
      padding-left:60px!important;
}

